<mat-toolbar color="primary">
  <div class="nav">
    <div class="title">
      Anxiety Tracking
    </div>
    <div class="nav-buttons" *ngIf="isAuthenticated">
      <button class="nav-button" mat-button routerLink="/add" routerLinkActive="active">Add Event</button>
      <button class="nav-button" mat-button routerLink="/events" routerLinkActive="active">View Events</button>
      <button class="nav-button" mat-button (click)="handleLogout()">Logout</button>

    </div>
  </div>
</mat-toolbar>
