<div class="auth-form">
  <mat-card>
  <mat-card-title>{{ isSignInMode ? "Login" : "Register" }}</mat-card-title>
    <mat-card-content>
      <mat-card *ngIf="error" class="form-error-message">{{ error }}</mat-card>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <mat-form-field class="">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email" ngModel required email>
        </mat-form-field>
        <br/>
        <mat-form-field class="">
          <mat-label>Password</mat-label>
          <input type="password" matInput name="password" ngModel required minlength="6">
        </mat-form-field>
        <button mat-raised-button color="primary">{{ isSignInMode ? "Login" : "Register" }}</button>
      </form>
  </mat-card-content>
  <mat-card-footer>
    {{ isSignInMode ? "Not Registered?" : "Already Registered?" }} <a href="#" (click)="onSwitchMode($event)">{{ isSignInMode ? "Register Now!" : "Login!" }}</a>
  </mat-card-footer>
</mat-card>
</div>

