<div class="auth-form">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>{{ isSignInMode ? "Login" : "Register" }}</mat-card-title>
    <mat-card-content *ngIf="!isLoading">
      <mat-card *ngIf="error" class="form-error-message">{{ error }}</mat-card>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
        <mat-form-field class="">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email" ngModel required email>
        </mat-form-field>
        <br/>
        <mat-form-field class="">
          <mat-label>Password</mat-label>
          <input type="password" matInput name="password" ngModel required minlength="6">
        </mat-form-field>
        <button mat-raised-button color="primary">{{ isSignInMode ? "Login" : "Register" }}</button>
      </form>
    </mat-card-content>
    <mat-card-footer *ngIf="!isLoading">
      {{ isSignInMode ? "Not Registered?" : "Already Registered?" }} <a href="#" (click)="onSwitchMode($event)">{{ isSignInMode ? "Register Now!" : "Login!" }}</a>
    </mat-card-footer>
    <mat-card-content class="auth-loading" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>

