form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6px;
}

app-form-sentiment-field {
  padding: 0 0 6px 6px ;
  width: 100%;
  box-sizing: border-box;
}

.field-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  padding: 12px;
}

app-form-chip-field {
  padding: 0 0 6px 6px ;
  width: 100%;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-buttons button {
  margin: 6px;
}

@media only screen and (min-width: 600px)  {
  form {
    margin: 12px;
    padding: 6px;
    border: 1px solid lightblue;
    border-radius: 6px;
  }

  app-form-sentiment-field {
    width: inherit;
    align-self: flex-start;
  }

  .field-inputs {
    align-items: center;
    flex-direction: row;
  }

  mat-form-field {
    margin: 6px;
    width: inherit;
  }
}
