
<form
  [formGroup]="anxietyForm"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(formDirective)"
  class="mat-elevation-z8">

  <app-form-sentiment-field
    [submitted]="formSubmitted">
  </app-form-sentiment-field>

  <div class="field-inputs">
    <mat-form-field >
      <mat-label>Choose a date</mat-label>
      <input
        id="date"
        name="date"
        type="text"
        [matDatepicker]="picker"
        matInput
        formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Time</mat-label>
      <input
        id="time"
        name="time"
        type="time"
        matInput
        formControlName="time">
    </mat-form-field>
  </div>

  <app-form-chip-field
    [fieldLabel]="'Symptom'"
    [itemOptions]="(symptomOptions$ | async)"
    [chipItems]="symptoms"
    [submitted]="formSubmitted">
  </app-form-chip-field>

  <app-form-chip-field
    [fieldLabel]="'Emotion'"
    [itemOptions]="(emotionOptions$ | async)"
    [chipItems]="emotions"
    [submitted]="formSubmitted">
  </app-form-chip-field>

  <div class="field-inputs">
    <mat-form-field>
      <mat-label>Current Thoughts</mat-label>
      <textarea
        id="thoughts"
        name="thoughts"
        placeholder="Ex. It makes me feel..."
        rows="4"
        matInput
        formControlName="thoughts">
      </textarea>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <button type="button" mat-raised-button color="warn" (click)="onClearForm(formDirective)">Clear</button>
  </div>
</form>
