
<app-new-symptom *ngIf="newSymptom" (newSymptom)="addNewSymptom($event)" (close)="closeModal($event)"></app-new-symptom>
<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  class="mat-elevation-z8">
  <div class="sentiment-label">
    <p [ngClass]="{'sentiment-invalid': sentiment === null && formSubmitted}">I'm Feeling * : <span *ngIf="sentiment !== null">{{ sentimentMap[sentiment].description}}</span></p>
  </div>
  <ul>
    <li *ngFor="let s of sentimentMap; let i=index">
      <span
        class="material-icons sentiment-icons"
        [ngClass]="{'sentiment-icon-active': sentiment === i}"
        (click)="setSentiment(i)">
        {{ s.svgName }}
      </span>
    </li>
  </ul>
  <div class="date-time-inputs">
    <mat-form-field >
      <mat-label>Choose a date</mat-label>
      <input
        id="date"
        name="date"
        [matDatepicker]="picker"
        matInput
        ngModel
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Time</mat-label>
      <input
        id="time"
        name="time"
        placeholder="12:00 PM"
        matInput
        ngModel
        required>
    </mat-form-field>
  </div>
  <div class="add-symptoms">
    <button
      mat-raised-button
      color="basic"
      type="button"
      (click)="handleAddSymptom(symptomSelect.value)">
      Add
    </button>
    <mat-form-field class="">
      <mat-label>Select Symptom</mat-label>
      <mat-select
        #symptomSelect
        id="symptom"
        name="symptom"
        ngModel
        (ngModelChange)="handleSelectChange(symptomSelect.value)">

        <mat-option  *ngFor="let symptom of symptomsOptions" [value]="symptom.value">
          {{symptom.display}}
        </mat-option>
        <mat-option value="add-symptom">
          Add Symptom
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="list-symptoms">
    <h4 *ngIf="currentSymptoms.length > 0">Symptoms</h4>
    <mat-card *ngFor="let symptom of currentSymptoms; let i = index" >
      {{ symptom }}
      <button
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a delete icon">
        <mat-icon (click)="handleDeleteSymptom(symptom)">delete</mat-icon>
      </button>
    </mat-card>
  </div>
  <div class="description">
    <mat-form-field class="">
      <mat-label>Current Thoughts</mat-label>
      <textarea
        id="thoughts"
        name="thoughts"
        placeholder="Ex. It makes me feel..."
        rows="4"
        matInput
        ngModel
        required></textarea>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary">Submit</button>
    <button type="button" mat-raised-button color="warn" (click)="handleClearForm()">Clear</button>
  </div>
</form>
