
<app-new-symptom *ngIf="newSymptom" (newSymptom)="addNewSymptom($event)" (close)="closeModal($event)"></app-new-symptom>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mat-elevation-z8">
  <!-- <div class="quantifier">
    <div class="quantifier-description">
      My level of anxiety is {{ slider.value }}
    </div>
    <div class="quantifier-slider">
        <mat-slider #slider min="0" max="100" step="5" value="50"></mat-slider>
    </div>

  </div> -->
  <!-- <app-svg-icon *ngFor="let icon of sentimentIcons" [svgName]="icon.svgName" [svgURL]="icon.svgURL" [svgLabel]="icon.svgLabel"></app-svg-icon> -->
  <div class="sentiment-label">
    <p>I'm Feeling: <span *ngIf="sentiment !== null">{{ sentimentMap[sentiment].description}}</span></p>
  </div>
  <ul>
    <li *ngFor="let s of sentimentMap; let i=index">
      <span
        class="material-icons sentiment-icons"
        [ngClass]="{'sentiment-icon-active': sentiment === i}"
        (click)="setSentiment(i)">
        {{ s.svgName }}
      </span>
    </li>
  </ul>
  <div class="date-time-inputs">
    <mat-form-field >
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" id="date" name="date" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Time</mat-label>
      <input matInput placeholder="12:00 PM" value="12:00 PM" id="time" name="time" ngModel required>
    </mat-form-field>
  </div>
  <div class="add-symptoms">
    <button mat-raised-button color="basic" (click)="handleAddSymptom(symptomSelect.value)" >Add</button>
    <mat-form-field class="">
      <mat-label>Symptoms</mat-label>
      <mat-select #symptomSelect id="symptom" name="symptom" ngModel (ngModelChange)="handleSelectChange(symptomSelect.value)">

        <mat-option  *ngFor="let symptom of symptomsOptions" [value]="symptom">
          {{symptom}}
        </mat-option>
        <mat-option value="Add Symptom">
          Add Symptom
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="list-symptoms">
    <h4 *ngIf="currentSymptoms.length > 0">Symptoms</h4>
    <mat-card *ngFor="let symptom of currentSymptoms; let i = index" >
      {{ symptom }}
      <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
        <mat-icon (click)="handleDeleteSymptom(symptom)">delete</mat-icon>
      </button>
    </mat-card>
  </div>
  <div class="description">
    <mat-form-field class="">
      <mat-label>Current Thoughts</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." rows="4" id="thoughts" name="thoughts" ngModel required></textarea>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary">Submit</button>
    <button type="button" mat-raised-button color="warn">Clear</button>
  </div>



</form>
