<app-add-new-item *ngIf="showModal" [fieldLabel]="fieldLabel" (newItem)="handleAddNewItem($event)" (close)="handleCloseModal()"></app-add-new-item>
<div class="form-chip-field">
  <div class="form-chip-add-input">
    <button
      mat-raised-button
      color="basic"
      type="button"
      (click)="handleAddItem()">
      Add {{fieldLabel}}
    </button>

    <mat-form-field class="mat-select-invalid ng-invalid">
      <mat-label>Select {{fieldLabel}}</mat-label>
      <mat-select
        id={{fieldLabel.toLowerCase()}}
        [formControl]="chipItem"
        (selectionChange)="handleSelectChange()"
        class="mat-select-invalid ng-invalid">

        <mat-option  *ngFor="let itemOption of itemOptions" [value]="itemOption.value">
          {{itemOption.display}}
        </mat-option>
        <mat-option value="add-item">
          Add {{fieldLabel}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card>
    <mat-chip-list #chipList (aria-label)="fieldLabel">
      <mat-chip *ngFor="let chipItem of chipItems" [selectable]="true"
        [removable]="true" (removed)="handleRemoveChip(chipItem.value)">
        {{chipItem.display}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card>
</div>
