<app-add-new-item *ngIf="showModal" [fieldLabel]="fieldLabel" (newItem)="onAddNewItem($event)" (close)="onCloseModal()"></app-add-new-item>
<div class="form-chip-field">
  <form #form [formGroup]="chipForm" (ngSubmit)="onSubmit()">
    <div class="form-chip-add-input">
      <button
        mat-raised-button
        color="basic"
        type="submit">
        Add {{fieldLabel}}
      </button>

      <mat-form-field class="">
        <mat-label>Select {{fieldLabel}}</mat-label>
        <mat-select
          id={{fieldLabel.toLowerCase()}}
          formControlName="chipItem"
          (selectionChange)="onSelectChange()"
          [errorStateMatcher]="matcher">

          <mat-option  *ngFor="let itemOption of itemOptions" [value]="itemOption.value">
            {{itemOption.display}}
          </mat-option>
          <mat-option value="add-item">
            Add {{fieldLabel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>


  <mat-card>
    <mat-chip-list #chipList (aria-label)="fieldLabel">
      <mat-chip *ngFor="let chipItem of chipItems" [selectable]="true"
        [removable]="true" (removed)="onRemoveChip(chipItem.value)">
        {{chipItem.display}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card>
</div>
