.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.display {
  position: fixed;
  top: 30vh;
  left: 40vw;
  width: 20vw;
  padding: 16px;
  z-index: 100;
  background: white;
}

mat-form-field {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 30%;
  margin: 0 6px;
}
