.sentiment-label {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  margin: 12px 0 0 6px;
  /* Need to find actual label color */
  color: gray;
}

.sentiment-icons {
  display: flex;
  justify-content: space-between;
}

.sentiment-icons {
  font-size: 48px;
  margin-right: 24px;
  opacity: 55%;
  cursor: pointer;
}

.sentiment-icons:hover {
  opacity: 100%;
}

.sentiment-icon-active {
  opacity: 100%;
}

.sentiment-invalid {
  color: red;
}
