.sentiment-label {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  margin: 12px 0 0 6px;
  /* Need to find actual label color */
  color: gray;
}

.sentiment-icons {
  display: flex;
  justify-content: space-between;
}

.sentiment-icons {
  font-size: 48px;
  margin-right: 24px;
  color: gray;
  cursor: pointer;
}

.sentiment-icon:hover {
  opacity: 100%;
}

.sentiment-icon-active {
  color: black;
  opacity: 100%;
}

.sentiment-invalid {
  color: red;
}

.sentiment-display {
  color: black;
}
