<table
  mat-table
  [dataSource]="anxietyEvents"
  multiTemplateDataRows
  class="mat-elevation-z8">

  <ng-container matColumnDef="toggle">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element; let i = index">
      <mat-icon *ngIf="expandedElements[element.id]"><span class="table-control">expand_more</span></mat-icon>
      <mat-icon *ngIf="!expandedElements[element.id]"><span class="table-control">chevron_right</span></mat-icon>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of dataColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let anxietyItem"> {{anxietyItem[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

           <app-table-chip-display title="Symptoms" [data]="element.symptoms"></app-table-chip-display>
           <app-table-chip-display title="Emotions" [data]="element.emotions"></app-table-chip-display>
           <app-table-paragraph-display title="Thoughts" [content]="element.thoughts"></app-table-paragraph-display>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="toggleExpand(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

