table {
  width: 100%;
  box-shadow: 0;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-control {
  cursor: pointer;
}

@media only screen and (min-width: 600px)  {
  table {
    width: 95%;
    margin: 12px auto;
    padding: 6px;
    border-radius: 5px;
  }
}

